<!-- Navigation -->
<header>
    <nav style="border: 1px solid #FFEE02; margin: 8px;" class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="/">Accueil</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-md-center" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link navAdd" href="/qui-est-ce">SOLAIRE Admin qui est-ce?</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navAdd" href="#" id="navbarDropdownMenuLink1" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Je suis...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item" href="/professionnel">Un Professionel du Photovoltaïque</a>
                        <a class="dropdown-item" href="/entreprise">Une entreprise</a>
                        <a class="dropdown-item" href="/particulier">Un particulier</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navAdd" href="#" id="navbarDropdownMenuLink3" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Un peu de culture...
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink3">
                        <a class="dropdown-item" href="/duree-de-vie">Durée de vie</a>
                        <a class="dropdown-item" href="/ecologie">Ecologie</a>
                    </div>
                </li>
                <!-- <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle navAdd" href="#" id="navbarDropdownMenuLink2" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Références
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item" href="/references">Professionnelles</a>
                    </div>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link navAdd" href="/references">Références Professionnelles<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link navAdd" href="/contact">Contact<span class="sr-only"></span></a>
                </li>
            </ul>
        </div>
    </nav>
</header>